<div id="player-container" ng-class="{slideshow: isSlideshowActive, loading: state.loading}">
	<div id="slideshow-background" 
		style="background-image: url({{ slideshowBackgroundImage }});"
		ng-show="isSlideshowActive">
	</div>
	<div id="player-ui">
		<div id="currently-playing">
			<div class="media">
				<div class="media-left">
					<img ng-src="{{ currentlyPlaying.cover }}" class="media-object">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{ currentlyPlaying.title || 'Radio Paradise' }}</h4>
					<div class="artist">{{ currentlyPlaying.artist || 'Listener Supported' }}</div>
				</div>
			</div>
		</div>
		<div id="controls">
			<ul class="list-inline">
				<li ng-show="!state.paused">
					<a ng-click="controller.pause()" class="player-control pause">
						<span class="sr-only">Pause</span>
					</a>
				</li>
				<li ng-show="state.paused">
					<a ng-click="controller.play()" class="player-control play">
						<span class="sr-only">Play</span>
					</a>
				</li>
				<li>
					<a ng-click="controller.next()" class="player-control next">
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li>
					<a ng-click="controller.playSomethingDifferent()" class="player-control psd">
						<span class="sr-only">PSD</span>
					</a>
				</li>
				<li>
					<a ng-click="controller.toggleSlideshow()" class="player-control toggle-slideshow">
						<span class="sr-only">Toggle</span>
					</a>
				</li>
			</ul>
			<input type="range" ng-model="player.volume" min="0" max="1" step="0.1">
		</div>
	</div>
	<div id="login-overlay" ng-show="!isLoggedIn">
		<a class="btn btn-success btn-lg" ng-click="controller.showLogin()">Login</a>
	</div>
	<div id="loading-overlay" ng-show="state.loading">
		<i class="fa fa-fw fa-spin fa-refresh"></i>
	</div>
</div>
