<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Login</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="input-group">
		<label>Username</label>
		<input type="text" required="required" ng-model="credentials.username">
	</div>
	<div class="input-group">
		<label>Password</label>
		<input type="password" required="required" ng-model="credentials.passwd">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="controller.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="controller.login()">Login</button>
</div>
