@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";

body{
	margin: 0;
}

#player-container{
	width: 100%;
	height: 100vh;
}

#slideshow-background,
#login-overlay,
#loading-overlay{
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#player-ui{
	position: relative;
	z-index: 20;
}

#login-overlay{
	@extend .text-center;
	z-index: 30;
	background: rgba(0, 0, 0, 0.8);
	padding-top: 48vh;
}

#loading-overlay{
	@extend .text-center;
	z-index: 31;
	background: rgba(255, 255, 225, 0.8);
	padding-top: 48vh;
	i{
		font-size: $font-size-h1;
		color: $gray;
	}
}

#currently-playing{
	img{
		@extend .img-responsive;
		max-width: 150px;
	}
}

.player-control{
	@extend .fa;
	font-size: $font-size-h1;
	&:hover{
		text-decoration: none;
	}
}

.play:after{
	content: $fa-var-play;
}

.pause:after{
	content: $fa-var-pause;
}

.next:after{
	content: $fa-var-step-forward;
}

.psd:after{
	content: $fa-var-random;
}

.toggle-slideshow:after{
	content: $fa-var-picture-o;
}
